<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Название сайта{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
    {% block extra_js %}
        <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}
</head>
<body>
    <!-- Шапка сайта -->
    <header class="header">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Квадрат" class="logo-img-small">
            </a>
        </div>
        <div class="header-right">
            <nav class="nav-menu">
                <ul>
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li><a href="{% url 'about' %}">О нас</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Услуги</a>
                        <div class="dropdown-content">
                            <a href="{% url 'services:interior_design_list' %}">Интерьерный дизайн</a>
                            <a href="{% url 'services:landscape_design' %}">Ландшафтный дизайн</a>
                            <a href="{% url 'services:rent' %}">Аренда строительной техники</a>
                            <a href="{% url 'services:geodetic_survey' %}">Геодезическая съёмка</a>
                            <a href="{% url 'services:well_drilling' %}">Бурение водяной скважины</a>
                            <a href="{% url 'services:utilities_installation' %}">Прокладка инженерных коммуникаций</a>
                            </div>
                        </li>
                    <li><a href="{% url 'projects:list' %}">Проекты</a></li>
                    <li><a href="{% url 'contacts' %}">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Основное содержимое -->
    <main class="main">
        {% block content %}
        <!-- Сюда будет подставляться содержимое дочерних шаблонов -->
        {% endblock %}
    </main>

    <!-- Подвал -->
    <footer class="footer">
        <p>&copy; 2024 Название компании. Все права защищены.</p>
    </footer>

</body>
</html>